<div id="<%= dom_id pantry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= pantry.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pantry.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= pantry.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this pantry", pantry, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this pantry", edit_pantry_path(pantry), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
