<div class="flex justify-between items-center">
  <%= link_to pantries_path, class: "flex items-center mr-8 text-gray-500 transition-colors duration-200 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white mb-5" do %>
    <%= tag.svg class: "w-3.5 h-3.5 mr-2", aria_hidden: true, xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 14 10" do %>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"></path>
    <% end %>
    Return
  <% end %>
  <h1 class="font-bold text-2xl">Compras</h1>
  <!-- Modal toggle -->
  <div class="flex justify-center m-5">
    <button id="defaultModalButton" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="block text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="button">
      Nueva compra
    </button>
  </div>
</div>

<div class="flex gap-3">
  <% @purchases.each do |purchase| %>
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex-item">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= purchase.name %></h5>
      </a>
  <!--    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>-->
      <%= link_to products_purchase_path(purchase), class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
        <%= "Visitar" %>
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      <% end %>

      <span class="mr-0 inline-flex items-center px-3 py-2 mt-2 text-sm font-medium text-center text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
        <svg class="w-4 h-4 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9 9a1 1 0 112 0v3a1 1 0 11-2 0V9zm1-5a1 1 0 100 2 1 1 0 000-2z"/>
        </svg>
        <%= distance_of_time_in_words_to_now(purchase.created_at) %>
      </span>
    </div>
  <% end %>
</div>

<%= render 'purchases/modals/purchase' %>